@{
    ViewBag.Title = "GroupAndSubjectAdd";
}

<h2>GroupAndSubjectAdd</h2>
<form action="GroupAndSubjectAdd" method="post">
<p>  SubjectName      :   <input type="text" name="SubjectName"/></p>
<p>GroupName : <input type="text" name="GroupName"/></p>
<p>     <input type="submit" value="Add"/></p>
</form