@{
    ViewBag.Title = "GroupAdd";
}

<h2>GroupAdd</h2>



    
<form action="GroupAddSubmit" method="post">
<p>  GroupName      :   <input type="text" name="GroupName"/></p>
<p>  SubjectName    :    <input type="text" name="subjectname"/></p>
<p>     <input type="submit" value="Add"/></p>
</form>
<br>
<br>

  