@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create Teacher", "TeacherAdd", "Admin")
@Html.ActionLink("Create Group" ,   "GroupAdd", "Admin")
@Html.ActionLink("Create Student", "StudentAdd", "Admin")
@Html.ActionLink("Create Subject", "SubjectAdd", "Admin")
