@{
    ViewBag.Title = "StudentAdd";
}

<h2>StudentAdd</h2>
<form action="StudentAddSubmit" method="post">
<p>  FirstName      :   <input type="text" name="FirstName"/></p>
<p>  LastName      :   <input type="text" name="LastName"/></p>
<p>  GroupName      :   <input type="text" name="GroupName"/></p>
<p>  GroupId      :   <input type="text" name="GroupId"/></p>
<p>     <input type="submit" value="Add"/></p>
</form>