@{
    ViewBag.Title = "SubjectAdd";
}

<h2>SubjectAdd</h2>
<form action="SubjectAddSubmit" method="post">
<p>  SubjectName      :   <input type="text" name="SubjectName"/></p>
<p>TeachersFirstName : <input type="text" name="TeachersFirstName"/></p>
<p>     <input type="submit" value="Add"/></p>
</form>
