
@{
    ViewBag.Title = "TeacherAdd";
}

<h2>TeacherAdd</h2>
<form action="TeacherAddSubmit" method="post">
<p>  FirstName      :   <input type="text" name="FirstName"/></p>
<p>  LastName      :   <input type="text" name="LastName"/></p>
<p>     <input type="submit" value="Add"/></p>
</form>