@{
    ViewBag.Title = "GroupSchedule";
}

<h2>GroupSchedule</h2>

@ViewBag.Group.Dequeue().Name

@ViewBag.Group.Dequeue().Name

@ViewBag.Group.Dequeue().Name


<div>
<table>
    <tr>
    <td>Понидельник</td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
        </tr>
        <tr>
            <td>Математика</td>
            <td>5</td>
            <td>Пинчук</td>
        </tr>
        <tr>
            <td>ООП</td>
            <td>4</td>
            <td>Василька</td>
        </tr>
        </table></td><tr>
<tr>
     <td>Вторник</td>
    <td>
    <table>
        <tr>
            <td>
                Предмет
            </td>
            <td>
               Аудитория
            </td>
            <td>
                Преподователь
            </td>
        </tr>
        <tr>
            <td>Укр.яз</td>
            <td>15</td>
            <td>Сыроква</td>
        </tr>
        <tr>
            <td>Физика</td>
            <td>43</td>
            <td>Васыч</td>
        </tr>
        </table></td>

</tr>    
       
            
    </table>
</div>

